{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Популярные статьи на сайте:</h1>
      <p class="fs-5 text-body-secondary"></p>
    </div>
    <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{articles[0].title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{articles[0].intro}}<small class="text-body-secondary fw-light"></small></h1>
            <a href="/posts/3" class="w-100 btn btn-lg btn-primaryg">Детальнее...</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{articles[1].title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{articles[1].intro}}<small class="text-body-secondary fw-light"></small></h1>
            <a href="/posts/2" class="w-100 btn btn-lg btn-primaryg">Детальнее...</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">{{articles[2].title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{articles[2].intro}}<small class="text-body-secondary fw-light"></small></h1>
            <a href="/posts/1" class="w-100 btn btn-lg btn-primaryg">Детальнее...</a>
          </div>
        </div>
      </div>
    </div>
  </main>
    </div>
{% endblock %}